In [35]:
import pandas as pd
import pandas_datareader.data as web
import pickle
from tqdm import tqdm_notebook

In [37]:
#IMPORT DATA
#Create a list of stocks to survey
stocks = ['V','AAPL','GOOGL']
#Create an emppty dataframe
data_append = pd.DataFrame()

for stock in tqdm_notebook(stocks):
    try:
        data = web.get_data_yahoo(stock,'01/01/2005',interval='d')
        data['ticker'] = stock
        data_append = pd.concat([data,data_append])
    except:
        pass

data_append.head()

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

,High,Low,Open,Close,Volume,Adj Close,ticker
Date,,,,,,,
2005-01-03,101.921921,97.827827,98.798798,101.456459,31656700.0,101.456459,GOOGL
2005-01-04,101.566566,96.836838,100.800804,97.347351,27484200.0,97.347351,GOOGL
2005-01-05,98.548546,96.211212,96.821823,96.851852,16456700.0,96.851852,GOOGL
2005-01-06,98.048050,93.953957,97.637634,94.369370,20753400.0,94.369370,GOOGL
2005-01-07,97.222221,94.484482,95.415413,97.022018,19306400.0,97.022018,GOOGL

In [38]:
data_append.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9918 entries, 2005-01-03 to 2019-03-18
Data columns (total 7 columns):
High         9918 non-null float64
Low          9918 non-null float64
Open         9918 non-null float64
Close        9918 non-null float64
Volume       9918 non-null float64
Adj Close    9918 non-null float64
ticker       9918 non-null object
dtypes: float64(6), object(1)
memory usage: 619.9+ KB

In [39]:
set(data_append['ticker'])

{'AAPL', 'GOOGL', 'V'}

In [40]:
len(set(data_append['ticker']))

3

In [41]:
#Pickle file for next time
filename = 'stocks_03182019.pickle'
outfile = open(filename,'wb') #The second argument is 'wb'. The w means that you'll be writing to the file, and b refers to binary mode.
pickle.dump(data_append,outfile)
outfile.close()

In [42]:
#Open pickled file
infile = open(filename,'rb')
new_stocks = pickle.load(infile)
infile.close()

new_stocks.head()

,High,Low,Open,Close,Volume,Adj Close,ticker
Date,,,,,,,
2005-01-03,101.921921,97.827827,98.798798,101.456459,31656700.0,101.456459,GOOGL
2005-01-04,101.566566,96.836838,100.800804,97.347351,27484200.0,97.347351,GOOGL
2005-01-05,98.548546,96.211212,96.821823,96.851852,16456700.0,96.851852,GOOGL
2005-01-06,98.048050,93.953957,97.637634,94.369370,20753400.0,94.369370,GOOGL
2005-01-07,97.222221,94.484482,95.415413,97.022018,19306400.0,97.022018,GOOGL